{% extends 'inicio.html' %}

{% block title %}
Lobby
{% endblock %}

{% block body %}
<header style="font-family:Agbalumo;">
    <nav class="navbar navbar-expand-lg bg-body-tertiary mb-5">
        <div class="container-fluid">
            <a class="navbar-brand text-info text-decoration-none" href="{% url 'inicio' %}"><h4>EasyChatRoom</h4></a>
          <div class="collapse navbar-collapse" id="navbarNav">
            <h5 style="font-family:Lexend; color:white">/ {{lobby_id}}</h5>
          </div>
        </div>
      </nav>
</header>

<main class="container-fluid d-flex justify-content-between vh-100">
    <div style="width: 20%;" class="mx-3"></div>

    <div class="flex-grow-1 bd-highlight mx-5">
        <div id="div-centro" class="round p-3 d-flex flex-column">
            <h3 class="text-white mb-3">Sala</h3>

            <span>Jugadores:</span>
                <div class="py-2 m-2 d-flex justify-content-start">
                    <div style="width:100%;" class=" d-flex flex-column my-3" id="guest-box">
                    </div>
                </div>
        </div>
    </div>
    
    <div class="d-flex flex-column align-items-stretch ml-3">
        <textarea id="chat-log" class="flex-grow-1"></textarea>
        <div class="input-group">
            <input type="text" id="chat-message-input" class="form-control">
            <button class="btn btn-outline-success" id="chat-message-submit" type="button">Enviar</button>
        </div>
    </div>
    {{lobby_id|json_script:"lobby-id"}}
</main>

<script type="text/javascript">
    const roomName = JSON.parse(document.getElementById('lobby-id').textContent);
    const chatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/lobby/' + roomName + '/'
    );

    let guestname = '';

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        
        if (data.message){
            document.querySelector('#chat-log').value += (data.message + '\n');
        }
        
        const users = data[roomName]

        if (data.type==='users_update'){
            let html='';

            for(let i=0;i<users.length;i++){
                html += `
                <div class="flex-grow-1">
                    <img style="height:50px; width:50px;" class="rounded float-start m-3" src="...">
                    <span>${users[i][0]}</span>
                </div>
                <button type="button" class="btn btn-success mx-3">Ready!</button>
                `;
            }
            document.getElementById('guest-box').innerHTML = html;

        }
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();

    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.key === 'Enter') {
            document.querySelector('#chat-message-submit').click();
        }
    };

    function getCookie(name) {
        const cookies = document.cookie.split(';');
        for (let cookie of cookies) {
            const [key, value] = cookie.trim().split('='); 
            if (key === name) {
                return decodeURIComponent(value); 
            }
        }
        return null;
    }
    const chatGuestname = getCookie("chat_guestname");

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;

        if (message.trim()) {
            chatSocket.send(JSON.stringify({
                'message': chatGuestname + ": " + message
            }));
            messageInputDom.value = '';
        }
    };
</script>


{% endblock %}
